<div class="chatWindow">
  <h2>Chat Window</h2>
  <div class="message">
    <div class="message__avatar"><img src="./images/default.png" alt=""></div>
    <div class="message__box">
      <div class="message__sender">John Doe</div>
      <p class="message__message"> Hey there what's up?</p>
    </div>
  </div>
  <div class="message__form">
    <form action="" method="POST">
      <input 
      type="text" 
      name="post-message" 
      id="post-message" 
      placeholder="Type a message">
      <input type="submit" value="  Send  ">
    </form>
  </div>
</div>