<div class="friendList">
  <h2>Friend List</h2>
  <div class="chats">
    <div class="chats__avatar"><img src="./images/default.png" alt=""></div>
    <div class="chats__box">
      <div class="chats__name">Louiseypoo</div>
      <div class="chats__message">Hey, you are the best</div>
    </div>
  </div>
</div>
